version: 2.1
orbs:
  node: circleci/node@7
workflows:
  cci-agent-setup:
    jobs:
      - test-node
jobs:
  test-node:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm install
